<!DOCTYPE html>{% load static i18n %}{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AD Board{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'adboard_site/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
    {{ form.media }}
</head>
<body class="adboard-body">
    <div class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark text-light shadow">
        <div class="container">
            <span class="logo mr-auto d-lg-none">AD-board</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-control="navbarContent" aria-expanded="false" aria-label="toggle-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <span class="logo mr-2 d-none d-lg-inline">AD-board</span>
                <ul class="navbar-nav mr-auto">{% block nav_main %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">{% trans "home"|capfirst %}</a></li>
                {% endblock nav_main %}</ul>
                <ul class="navbar-nav">{% block nav_user %}
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="userMenuDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                {{ user.username}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userMenuDropdown">
                                <a class="dropdown-item" href="#">{% trans "logout" %}</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="#">{% trans "log in"|capfirst %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">{% trans "sign up"|capfirst %}</a></li>
                    {% endif %}
                {% endblock nav_user %}</ul>
            </div>
        </div>
    </nav>
    <main class="mb-0 py-0 flex-fill d-flex justify-content-stretch">
    {% block content %}
    {% endblock content %}
    </main>
    <footer class="bg-dark text-light">
        <div class="container mt-0 py-3">
            {% blocktrans %}Copyright © 2022 CodeAcademy{% endblocktrans %}
        </div>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>
