{% load i18n %}
<li class="list-group-item {% if adpost.promoted %}promoted{% endif %}">
    <h2>
        <a href="{% url 'adpost_detail' adpost.pk %}">{{ adpost.title }}</a>
        <span class="float-right">{{ adpost.price }} €</span>
    </h2>
    <p>{% trans "offered by" %} {{ adpost.owner }}<br>
        <!-- status -->
        <span class="badge badge-pill badge-{{ adpost.get_status_style }}">{{ adpost.get_status_display }}</span>
        <!-- categories -->
        {% if adpost.category.count > 0  %}
            {% for category in adpost.category.all %}
                <span class="badge badge-light badge-pill">{{ category }}</span>
            {% endfor %}
        {% endif %}
        <!-- datetimes -->
        <span class="text-muted float-right">
        {% if adpost.updated_at > adpost.created_at %}
            {% trans "updated" %}: {{ adpost.updated_at }}
        {% endif %}
        {% trans "posted" %}: {{ adpost.created_at }}
        </span>
    </p>
</li>
