{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>{% trans "log in"|capfirst %}</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if next and user.is_authenticated %}
            <div class="alert alert-danger">{% trans "You do not have the permission to access this area." %}</div>
        {% endif %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans "log in" %}</button>
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
    <p><a href="{% url 'password_reset' %}">{% trans "forgot password"|capfirst %}</a>?</p>
</div>
{% endblock content %}
