{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>{% trans "password reset"|capfirst %}?</h1>
    <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans "reset password"|capfirst %}</button>
        </div>
    </form>
</div>
{% endblock content %}
