{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>{% trans "forgot password"|capfirst %}?</h1>
    <p>{% blocktrans %}We will send you the link where you will be able to reset your password.{% endblocktrans %}</p>
    <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans "accept"|capfirst %}</button>
        </div>
    </form>
</div>
{% endblock content %}
