{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>{% trans "updating user data"|capfirst %}</h1>
    <form method="post" action="{% url 'user_update' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <div class="form-group">
            <a href="{% url 'password_change' %}">{% trans "change password"|capfirst %}</a>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans "save changes"|capfirst %}</button>
        </div>
    </form>
</div>
{% endblock content %}
