body.adboard-body {
    background-color: #ccc;
    padding-top: 3rem;
}
main .container, section.messages .container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-left: 5px solid #999; 
    border-right: 5px solid #999;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#adboard-site {
    min-height: calc(100vh - 3rem);
}
.list-group-item.promoted {
    border: 2px solid #39f;
    background-color: #eef;
}
